span.title  {font-weight:bold;}
span.subtitle {font-size:small;}
span.text {font-size:x-small;}
span.version {font-size:xx-small;}
.inputfield {width:100%}
th, td {padding: 2px 5px;};

table.h_all_tl {font-size:96%; border-top:solid 1px #444444; border-left:solid 1px #444444; margin-top:5px; margin-left:0px; margin-bottom:15px;border-collapse:collapse;empty-cells: show;}
table.h_all_tl tr {border-right:solid 1px #444444; border-bottom:solid 1px #444444;}
table.h_all_tl th {border-right:solid 1px #444444; border-bottom:solid 1px #444444; background-color:#808080; color:#ffffff;}

body{margin:0px;}
div.trigger {padding: 5px;margin: 5px;border-top: 1px dashed #ccc;}
div.active {background-position: left bottom;}
.toggle_container {border-top: 1px dashed #ccc;overflow: hidden;clear: both;background-color: #efe;padding: 5px;margin: 5px;}
.toggle_container p {padding:5px;margin: 5px;}

/* table　セル用 */
table.h_all_tl {font-size:96%; border-top:solid 1px #444444; border-left:solid 1px #444444; margin-top:5px; margin-left:10px; margin-bottom:15px;border-collapse:collapse;empty-cells: show;}
table.h_all_tl tr {border-right:solid 1px #444444; border-bottom:solid 1px #444444;}
table.h_all_tl th {border-right:solid 1px #444444; border-bottom:solid 1px #444444; background-color:#eabf9c; color:#444444;}
.bg1 {border-right:solid 1px #444444; border-bottom:solid 1px #444444; background-color:#ffffff;}
.bg1l {border-right:solid 1px #444444; border-bottom:solid 1px #444444; background-color:#ffffff; text-align:left;}
.bg2 {border-right:solid 1px #444444; border-bottom:solid 1px #444444; background-color:#eabf9c;}
.bg2l {border-right:solid 1px #444444; border-bottom:solid 1px #444444; background-color:#eabf9c; text-align:left;}
.bg3 {border-right:solid 1px #444444; border-bottom:solid 1px #444444; background-color:#fbe6d5;}
.bg3l {border-right:solid 1px #444444; border-bottom:solid 1px #444444; background-color:#fbe6d5; text-align:left;}
.bgy {border-right:solid 1px #444444; border-bottom:solid 1px #444444; background-color:#ffffdd;}
.bgyl {border-right:solid 1px #444444; border-bottom:solid 1px #444444; background-color:#ffffdd; text-align:left;}


.bg1p {border-right:solid 1px #444444; border-bottom:solid 1px #444444; background-color:pink;}
.bg1lp {border-right:solid 1px #444444; border-bottom:solid 1px #444444; background-color:pink; text-align:left;}

/* tableレイアウト用 */
#layout_t{ width:100%; border:none;}
#left_t {width:190px; text-align: center; }
#left_t ul{padding: .1em; margin: 0;}
#center_t { width:100%; vertical-align:top; text-align: left; }
#center_t_w { vertical-align:top;}
#right_t {width:190px; text-align: center; }
#right_t ul{padding: .1em; margin: 0;}

.cs_table {font-size:96%; width:600px; border-top:solid 1px #444444; border-left:solid 1px #444444; text-align:left; margin:15px 0px 15px 15px;}
.cs_table th {padding: 3px 5px 3px 5px; font-weight:normal; border-right:solid 1px #444444; border-bottom:solid 1px #444444; background-color:#eeeeee; vertical-align:top;}
.cs_table th.cs_bg {padding: 3px 5px 3px 5px; font-weight:normal; border-right:solid 1px #444444; border-bottom:solid 1px #444444; background-color:#808080; color:#ffffff; font-weight:bold;}
.cs_table td {padding: 3px 5px 3px 5px; font-weight:normal; border-right:solid 1px #444444; border-bottom:solid 1px #444444; background-color:#ffffff; }
.w6em {width:6em;}
.w9em {width:9em;}

ul.yiiPager a:link, ul.yiiPager a:visited {border:solid 1px #0b916e;color:#0b916e;}
ul.yiiPager .selected a {background:#0b916e;color:#ffffff;}
ul.yiiPager .hidden a {border:solid 1px #dedede;color:#888888;}

ol li ol li {list-style-type:none;margin-left:-2.8em;}
ol li ul {margin-left:-1.6em;}
